*{
    padding: 0px;
   margin: 0px;
}
@font-face {
    font-family: 'android';
    src: url('idroid.otf');
    fromat: (opentype);
}


body{
    background-color:#89cda5;
}
header{
    background-image: linear-gradient(to bottom, #39CB79, #063C1D);
    min-height: 170px;
    text-align: center;
    padding: 11px;
    color: white;
    
}
header h1{
    padding-top: 30px;
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    
}
header > p{
    padding-top: 5px;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px #0000006b;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}
nav > a{
    color: #fcfcfc;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
   font-weight: bold;
   border-radius: 5px;
   transition-duration: 1s;
    
}
nav{
    text-align: left;
    padding-top:40px;
    margin-left: 0px;
}

nav > a:hover{
    background-color: #19733E;
}
main{
    width: 80%;
    background-color: white;
    padding: 10px;
    margin: auto;
    box-shadow: 4px 5px 12px gray;
    border-radius: 20px;
}
.noticia > h2{
    text-align: center;
    font-family: 'android', serif;
    color: #1A5A37;
    margin-bottom: 16px;
    font-size: 2em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    padding: 30px;
    margin: 0px;
    display: block;
}
p > a:hover{
  background-color: rgba(0, 0, 0, 0.342);
  padding: 1.5px;
    border-radius: 6px;
}
p > a{
    text-decoration: none;
    font-weight: bold;
    color:#19733E;
    font-family: Arial;  
}
.assunto > h2{
    text-align: left;
    font-family: 'android', serif;
    color: #1A5A37;
    margin-bottom: 16px;
    font-size:1.5em ;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    background-image: linear-gradient(to right, #8acea6b4, #cccccc00 );
    border-radius: 10px 0px 0px 10px;
   margin: 20px;
}
.assunto > img.pqn{
    text-align: right;
     display: flex;
     margin: auto;
  }
strong{
    color: #1a5a37;
    font-weight: bold;
   text-shadow: 1px #eeeeee;
}
 main p{
    line-height: 30px;
    text-indent: 20px;
    font-family: Arial;
    margin: 10px;
    line-height: 2em;
   text-align: justify;
}
 
picture > img{
    width: 100%;
}
aside > img{
    width: 200px;
   display: block;
    margin: auto;
}
 h5{
    font-family: sans-serif;
    background-color: #2FA866;
    padding: 10px;
    font-size: 18px;
    color: white;
    border-radius: 8px 8px 0px 0px;
}
article{
    text-indent: 10px;
    font-family: Arial;
    padding: 10px;
    border-radius: 1px;
   background-color: #C5EBD6;
   word-spacing: 2px;
   border-bottom-left-radius: 4px ;
   border-bottom-right-radius: 4px;
}
article > ul{
    columns: 2;
    list-style-type: '✔';
    list-style-position: inside;
    padding-top: 10px;
}

article > p{
    line-height: 30px;
    text-indent: 20px;
    font-family: Arial;
   margin-left: 5px; 
   margin-top: 20px;
   margin-right: 5px; 
   text-align: justify;
}
.conclusao{
    line-height: 30px;
    text-indent: 20px;
    font-family: Arial;
   margin-left: 5px; 
   margin-top: 20px;
   margin-right: 5px; 
   text-align: justify;
   margin-bottom: 20px;
}
footer{
    background-color:#1A5C38;
    color: #C5EBD6;
    font-weight: bolder;
    text-align: center;
    width: auto;
    margin: auto;
    padding: 10px;
    height: auto;
    word-spacing: 2px;
   
}
aside > .q{
    text-decoration: none;
    font-weight: bolder;
    color:#ffffff;
    font-family: Arial;
    
}

.video{
    background-color: #1a5a37;
    margin: 0px 10px 30px 10px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
    margin-top: 40px ;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


